---
name: publish-gradle

on:
  workflow_call:
    inputs:
      java_version:
        description: Java version for setup-java
        type: string
        required: false
        default: 25
    secrets:
      gradle_enterprise_access_key:
        description: Value of the Gradle Enterprise access token to use.
        required: false
      sonatype_username:
        required: true
      sonatype_token:
        required: true
      ossrh_signing_key:
        required: true
      ossrh_signing_password:
        required: true
      node_auth_token:
        required: false
      pypi_token:
        required: false

env:
  GRADLE_SWITCHES: --console=plain --info --stacktrace --warning-mode=all --no-daemon
  ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.sonatype_username }}
  ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.sonatype_token }}
  ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ossrh_signing_key }}
  ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ossrh_signing_password }}
  ORG_GRADLE_PROJECT_nodeAuthToken: ${{ secrets.node_auth_token }}
  ORG_GRADLE_PROJECT_pypiToken: ${{ secrets.pypi_token }}

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          show-progress: false
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          develocity-access-key: ${{ secrets.gradle_enterprise_access_key }}

      - name: publish-candidate
        if: contains(github.ref, '-rc.')
        run: |
          ./gradlew \
          ${{ env.GRADLE_SWITCHES }} \
          -Preleasing \
          -Prelease.disableGitChecks=true \
          -Prelease.useLastTag=true \
          candidate \
          publish \
          closeAndReleaseSonatypeStagingRepository

      - name: publish-release
        if: (!contains(github.ref, '-rc.'))
        run: |
          ./gradlew \
          ${{ env.GRADLE_SWITCHES }} \
          -Preleasing \
          -Prelease.disableGitChecks=true \
          -Prelease.useLastTag=true \
          final \
          publish \
          closeAndReleaseSonatypeStagingRepository
